.container {
  margin: 0 auto;
  padding: 0 212px;
  min-width: $sm;

  @media screen and (max-width: $xl) {
    padding: 0 212px;
  }
  @media screen and (max-width: $sm) {
    padding: 0 20px;
  }
}

.container:first-child {
  margin: 0;
  width: 100%;
}
