html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: $black;
  background-color: $white;
}
.no-scroll {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1 {
  margin: 37px 0;
  font-size: 64px;
  font-family: $main-font;
  font-weight: 700;
  font-style: normal;
  @media screen and (max-width: $sm) {
    font-size: 40px;
  }
}

h2 {
  font-size: 36px;
  font-family: $second-font;
  font-weight: 600;
  font-style: normal;
  @media screen and (max-width: $sm) {
    font-size: 25px;
  }
}

h3 {
  font-size: 18px;
  font-family: $second-font;
  font-weight: 600;
  font-style: normal;
}

h4 {
  font-size: 16px;
  font-family: $second-font;
  font-weight: 400;
  font-style: normal;
  @media screen and (max-width: $sm) {
    font-size: 10px;
  }
}

h5 {
  font-size: 14px;
  font-family: $second-font;
  font-weight: 600;
  font-style: normal;
  @media screen and (max-width: $sm) {
    font-size: 12px;
  }
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

input,
textarea {
  font-family: $second-font;
}
