/* Здесь хранятся все переменные стилей проекта. Указанные ниже переменные приведены в качестве демонстрации. */

@import url(https://db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien+Regular);
@import url("https://fonts.cdnfonts.com/css/svn-gilroy");

// Размеры вьюпорта
$sm: 360px;
$xl: 1366px;

// Цвета
$blue1: #1f3f68;
$blue2: #316099;
$blue3: #56ccf2;
$blue4: #5a98d0;
$black: #000;
$white: rgb(255, 255, 255);
$grey: #ccc;

// Шрифты
$main-font: "Galien Regular", serif;
$second-font: "SVN-Gilroy", sans-serif;
